<ul class="comments">

  <% object.comments.each do |comment| %>
    <li>
      <%= render partial: 'comments/show', locals: {comment: comment} %>
    </li>
  <% end %>

</ul>

<script>

  $(document).ready(function(event) {

    $(".new-comment").off();

    $(".new-comment").on("ajax:success", function(event, data) {
      var $comments = $(this).parent().find(".comments")
      $comments.append("<li>" + data + "</li>");
      this.reset();
    });
  });

</script>

