<h3>Start a Conversation</h3>

<form action="<%= conversations_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">


  <ul class="users-for-conversation">
    <% User.all.each do |user| %>
      <% next if user == current_user %>
      <label>
        <input
          type="checkbox"
          name="conversation[user_ids][]"
          value="<%= user.id %>"> <%= user.name %>
      </label>
    <% end %>
  </ul>

  <textarea name="message_attributes[body]" placeholder=" Your message here."></textarea>

  <input type="submit" value="Send your message">
</form>