<h2>Conversations</h2>
<ul class="conversations">
  <% @conversations.each do |conversation| %>
    <li><a href="<%= conversation_url(conversation.id) %>"><%= conversation.users.map(&:first_name).join(", ") %></a></li>
  <% end %>
</ul>

<%= render partial: 'conversations/new' %>
