<h2>Your Notifications</h2>
<ul class="notifications">
  <% @notifications.each do |note| %>

    <li>
      <a href="<%= url_for(note.params) %>" data-remote="true">
        <%= note.message %>
      </a>
      <time><%= note.created_at.to_formatted_s(:short) %></time>
    </li>

  <% end %>
</ul>

<script>

$(document).ready(function(event) {

  $(".notifications").off();

  $(".notifications").on("ajax:success", "li > a", function(event, data) {
    $(".content").html(data);
  });
});

</script>

