<h2>Your Notifications</h2>
<ul>
  <% @notifications.each do |note| %>

    <li>
      <a href="<%= url_for(note.params) %>">
        <%= note.message %>
      </a>
      <time><%= note.created_at %></time>
    </li>

  <% end %>
</ul>