<h2>Edit Your Profile</h2>

<% user = current_user %>

<form action="<%= user_url(user) %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="PUT">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">


  <label>First Name:
    <input type="text" name="user[first_name]" value="<%= user.first_name %>">
  </label>

  <label>Last Name:
    <input type="text" name="user[last_name]" value="<%= user.last_name %>">
  </label>

  <input type="submit" value="Update Your Page!">
</form>
