<h2><%= User.find(params[:user_id]).first_name %>'s Photos</h2>

<% @photos.each do |photo| %>
  <figure>
    <a href="<%= user_photo_url(params[:user_id], photo.id) %>">
      <%= image_tag photo.photo_file.url(:small) %>
    </a>
    <figcaption><%= photo.caption %></figcaption>
  </figure>
<% end %>