/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* reset user agent styles */

html, body, h1, h2, h3, h4, header, footer, nav, a, article, p, span, img, figure, section, input, button, ul, li, form, label, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul, li {
  list-style: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

input[type="submit"] {
  display: inline;
  cursor: pointer;
}

/* utilities */

.clearfix {
  clear: both;
  display: table;
  content: "";
}

/* links */

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* begin! */

body {
  position: relative;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 20px;
  background: #f7f7f7;
  overflow: scroll;
  margin-bottom: 50px;
}

/* header */

.header {
  background: #3b5998;
  color: white;
  width: 840px;
  margin: auto;
  padding: 30px;
  border: 1px solid #3b5998;
}

.header a:hover, .header input[type="submit"]:hover {
  color: #ccc;
}

.header .logo {
  float: left;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.header nav {
  float: right;
}
.header ul {
  position: relative;
  top: 15px;
}

.header nav li {
  float: left;
  padding-left: 15px;
}

/* page */

.page {
  background: white;
  width: 840px;
  margin: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-top: 0;
}

/* sidebar */

.sidebar {
  float: left;
  width: 220px;
/*  padding-right: 30px;*/
}

.sidebar a {
  display: block;
  padding: 5px 0;
  text-indent: 5px;
}

.sidebar a:hover, .sidebar input[type="submit"]:hover {
  background: #ccc;
}

/* content */

.content {
  float: left;
  width: 559px;
  padding-left: 30px;
  border-left: 1px solid #ccc;
}

.content a, .content input[type="submit"] {
  color: #3b5998;
}

.content a:hover, .content input[type="submit"]:hover {
  text-decoration: underline;
}

