// Place all the styles related to the UserLikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* likes */

.likes {
  padding: 15px 0;
  width: 100%;
}

.unlike {
  display: none;
}

.likes.can-unlike .like {
  display: none;
}

.likes.can-unlike .unlike {
  display: inline-block;
}

.likes p, .likes input[type="submit"] {
  float: left;
  padding-right: 10px;
}
